<!DOCTYPE html>

{{ define "admin/form_subject.html" }}

{{ template "admin/header.html" . }}

<main role="main" class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <form enctype="multipart/form-data" method="post" action="/admin/groups/{{ .groupId }}/subject/create">
      <div class="mb-3">
        <label for="subject_name" class="form-label">Наименование дисциплины</label>
        <input type="text" class="form-control" id="subject_name" name="subject_name">
      </div>
      <input type="hidden" class="form-control" id="group_id" value="{{ .groupId }}" name="group_id">
      <button type="submit" class="btn btn-primary">Создать</button>
    </form>
  </div>
</main>

</body>

{{ end }}

</html>