<!DOCTYPE html>

{{ define "admin/form_subject_object.html" }}

{{ template "admin/header.html" . }}

<main role="main" class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    {{ if .subjectObject }}
    <form enctype="multipart/form-data" method="post" action="/admin/subject/{{ .subjectId }}/subject_object/{{ .subjectObject.ID }}/edit">
    {{ else }}
    <form enctype="multipart/form-data" method="post" action="/admin/subject/{{ .subjectId }}/subject_object/create">
    {{ end }}
      <div class="mb-3">
        <label for="subject_object_name" class="form-label">Наименование задания</label>
        <input type="text" class="form-control" id="subject_object_name" name="subject_object_name" value="{{ with .subjectObject }}{{ .Name }}{{ end }}">
      </div>
      <div class="mb-3">
        <label for="subject_object_href" class="form-label">Ссылка на задание</label>
        <input type="url" class="form-control" id="subject_object_href" name="subject_object_href" value="{{ with .subjectObject }}{{ .Href }}{{ end }}">
      </div>
      {{ if .subjectObject }}
      <button type="submit" class="btn btn-primary">Сохранить</button>
      <a href="/admin/subject/{{ .subjectId }}" class="btn btn-secondary">Отмена</a>
      {{ else }}
      <button type="submit" class="btn btn-primary">Создать</button>
      {{ end }}
    </form>
  </div>
</main>

</body>

{{ end }}

</html>
