<!DOCTYPE html>
{{ define "admin/groups.html" }}

{{template "admin/header.html" . }}

<main role="main" class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Группы</h6>
    {{ range .groups }}
      <div class="media text-muted pt-3">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <div class="d-flex justify-content-between align-items-center w-100">
            <strong class="text-gray-dark">{{ .GroupName }}</strong>
            <a href="/admin/groups/{{ .ID }}/subjects"><button type="button" class="btn btn-primary">Предметы</button></a>
          </div>
        </div>
      </div>
    {{ end }}
  </div>

</main>

</body>

{{ end }}

</html>
